!!!
%html
%head{:profile => "http://www.w3.org/2005/10/profile"}/
%title
  = Rails.application.secrets.title
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
%link{:href => 'http://midwestdevchat.com/favicon.ico', :rel => 'icon', :type => 'image/png'}/
%link{:href => "//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.css", :rel => "stylesheet", :title => "Featherlight Styles", :type => "text/css"}/
%script{:charset => "utf-8", :src => "//cdn.rawgit.com/noelboss/featherlight/1.2.0/release/featherlight.min.js", :type => "text/javascript"}

%meta{:content => "Nebraska Game Developers Association", :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => "http://www.gamedevne.com/", :property => "og:url"}/
%meta{:content => "http://www.gamedevne.com/emojis/simple_smile.png", :property => "og:image"}/
%meta{:content => "Join the largest group of game developers in the midwest!", :property => "og:description"}/

= csrf_meta_tags
%body
  .header
    %h1{style: 'padding 0 10px;'}
      = link_to 'GameDevNE', '/', style: 'color:#fff;'
  .content
    = yield

:javascript
  $(document).ready(function () {
     $('#name').focus();

     $('.hidden-gif').bind('click', function(){
      $.featherlight($(this).children());
     })
  });